/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-background-color: #303030;
}
.label, .check-box, .radio-button{
    -fx-text-fill: #e8e8e8;
}

.titled-pane{
    -fx-text-fill: black;
}
.title{
    -fx-background-color: #e8e8e8;
    -fx-font-weight: bold;
}

.tooltip{
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-background-color: #e8e8e8;
}
.text-field:readonly{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #808080;
}
.text-field{
    -fx-text-fill: #808080;
    -fx-font-weight: bold;
    -fx-background-color: #e8e8e8;
}
.text-area{
    -fx-text-fill: #e8e8e8;
}
.content{
    -fx-background-color: #080808;
	-fx-border-color: yellow;
	-fx-border-insets: 1;
}
.spinner{
    -fx-background-color: #282828;
}

.combo-box, .choice-box, .color-picker, .button{
    -fx-background-color: linear-gradient(to bottom, #BB6662, #7B2622);
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.toggle-button:selected{
    -fx-background-color: green;
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.toggle-button{
    -fx-background-color: red;
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.context-menu, .menu-bar{
    -fx-background-color: #9B4642;
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
}

.increment-arrow-button{
    -fx-background-radius: 0 12 0 0;
    -fx-background-color: linear-gradient(to bottom, #BB6662, #9B4642);
}
.decrement-arrow-button{
    -fx-background-radius: 0 0 12 0;
    -fx-background-color: linear-gradient(to bottom, #9B4642, #7B2622);
}
.increment-arrow, .decrement-arrow, .arrow{
    -fx-background-color: #e8e8e8;
}

.imageButton{
    -fx-background-color: null;
    -fx-text-fill: null;
}

.progress-bar{
    -fx-accent: #9B4642;
}

.table-view{
    -fx-background-color: black;
    -fx-font-weight: bold;
}
.column-header, .filler{
    -fx-background-color: #9B4642;
    -fx-font-weight: bold;
}

.list-view{
    -fx-font-weight: bold;
}
.combo-box .text-input{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #BB6662, #7B2622);
}
.combo-box .arrow-button{
    -fx-background-color: linear-gradient(to bottom, #BB6662, #7B2622);
}

.list-cell{
    -fx-font-weight: bold;
}

.list-cell:hover{
    -fx-text-fill: #e8e8e8;
    -fx-background-color: #BB6662;
}
.list-cell:selected{
    -fx-text-fill: #e8e8e8;
    -fx-background-color: linear-gradient(to bottom, #BB6662, #7B2622);
}
/*
.list-cell:even{
    -fx-background-color: #f8f8f8;
}
.list-cell:odd{
    -fx-background-color: #e8e8e8;
}
*/